.modal-backdrop-dark {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.above-element {
    z-index: 1100;
    transition: width 2s, height 4s;
}
