/* .report-container {
    float: left;
} */
.left-screen {
    float: left;
    width: 60%;

}
/* .right-screen {

} */

.split {

    position: relative;

    top: 0;

  
  }
  
  .left {
    float: right;
    width: 60%;
    left: 0;
  }
  
  .right {
    width: 40%;
    right: 0;
  }
  